article img{
	max-width:100%;
}
#aCatalogue img{
	max-width:640px;
}
article iframe{
	display:inline-block;
}
article .imgWrapper{
	background:#000;
	display:inline-block;
	text-align:center;
	width:320px;
	height:180px;
	overflow:hidden;
	text-align:center;
	position:relative;
}
article .imgWrapper>img{
	position:absolute;
	left:0;
	padding:0;
}
article .imgWrapper[class~=fixed]{
	position:static;
	max-width:100%;
	width:auto;
	height:auto;
}
article .imgWrapper[class~=fixed]>img{
	position:static;
}
article .imgWrapper[class~=single]{
	width:100%;
}
#outerWrapper{
	padding:2px;
	display:none \9; /*IE6、IE7、IE8 hack*/
}
#outerWrapper>header>center,#outerWrapper>*,#header{
	max-width:645px;
	margin:0 auto;
	text-align:center;
}
#outerWrapper>header>center,#header>center{
	text-align:left;
}
#outerWrapper>article{
	padding:100px 0 0 0;
}
#outerWrapper>header{
	background:#fff;
	position:fixed;
	width:100%;
	max-width:100%;
	top:0px;
	padding:0;
}
#outerWrapper>header>center h1,#outerWrapper>header>center p{
	display:inline-block;
	margin:0;
}
#outerWrapper>header>center>div{
	position:relative;
}
#outerWrapper>header>center address{
	display:inline-block;
	position:absolute;
	text-align:right;
	right:0;
	top:0;
	padding-right:2px;
	font-size:x-small;
}
nav ul{
	padding:0;
	margin:0 0 16px 0;
}
nav li{
	display:inline-block;
	border:2px solid #fff;
	cursor:pointer;
	padding:2px;
	margin:0 15px 0 0;
}
nav li:hover{
	border:2px dashed #333;
}
nav li:last-child{
	margin:0;
}
.column{
	display:inline-block;
	vertical-align:top;
}